<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro ao Processar</title>
    <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>
    <div class="container">
        <h1>Ocorreu um erro</h1>
        <p>Não foi possível processar sua solicitação. Detalhes:</p>
        <p>{{ error_message }}</p>
        <p><a href="/" class="btn">Voltar à página inicial</a></p>
    </div>
</body>
</html>
